body {
  color: #E2B10B;
}

.navbar {
  background-color: #1B4750;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.connexion-bar {
  text-decoration: none;
  font-size: 20px;
  margin-left: 10px;
  color: white;
  padding: 3px;
}

.connexion-bar:hover {
  text-decoration: none;
  color: #ffc104;
}

input {
  border: 1px white solid;
  border-radius: 1px;
  margin: 5px;
}

button {
  border-radius: 0px !important;
  border: 1px #DFA801 solid;;
}


li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px;
  border: 2px #1B4750 solid;
}

.fa-compact-disc {
  font-size: 40px;
}

.navbar {
  padding: 0px 8px !important;
}

.nav-options {
  text-align: right;
  margin-top: 15px;
}

.nav-options-footer {
  margin-top: 15px;
}

.nav-link {
  color: #E2B10B;
}

.nav-link:hover {
  color: #1B4750;
}

.form-control {
  border-radius: 0px !important;
  border: none !important;
}

.carousel-inner {
  margin-top: 15px;
}

.slider-images {
  max-height: 350px;
  max-width: 525px;
}

.mark {
  color: black;
}

.carousel {
  max-width: 525px;
}

.dropdown-menu {
  transform: translate3d(0px, 40px, 0px) !important;
  top: 0px; left: 0px;
  will-change: transform;
}
